.cards {
    height: 50vh;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    height: 250px;
    width: 400px;
    border-radius: 15px;
    box-shadow: black 1px 5px 10px -4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-details {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 15px;
    gap: 15px;
}

.card h3 {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.25em;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 220px;
    filter: brightness(0.3) grayscale(0.6);
    transition: 0.4s linear;
    background: black;
    margin-top: -10px;
}

.card img:hover {
    filter: brightness(0.7) grayscale(0);
    transition: 0.4s linear;
}

#new-league {
    overflow: hidden;
    transition: 0.4s linear;
    height: 40px;
}

.new-league {
    padding: 50px;
    width: 100%;
    height: 800px;
    margin: 20px 0;
    background: #181b1e !important;
    transition: 1s ease;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#league-slideshow {
    width: 100%;
}


.new-league input {
    margin: 10px 0 25px;
    background: #212529 !important;
    color: white;
    border-radius: 5px;
    border: 2px solid #212529;
    width: 80%;
}

.new-league h2 {
    margin: 0 0 30px;
}

.new-league button {
    margin: 5px 30px;
}

.player-card {
    display: flex;
    flex-direction: row;
    color: white;
    width: 300px;
    height: 70px;
    font-size: 0.9em;
    align-items: center;
    justify-content: stretch;
    gap: 15px;
}

.player-card img {
    object-fit: cover;
    left: 0;
    height: 120%;
    width: 100px;
    filter: none;
}

.player-card img:hover {
    filter: none;
}

.player-container {
    margin: 10px 0 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hide-new-league {
    height: 0;
    border: none;
    padding: 0;
}

.hide-new-league-button {
    height: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}