.form-container {
    padding: 50px;
    width: 100%;
    height: auto;
    margin: 20px 0;
    background: #181b1e !important;
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: center;
    align-items: center;
    transition: max-height 1.5s ease, padding 1s ease;
}

.form {
    width: auto;
    padding: 5px;
}

.form h2 {
    margin: 0 0 30px;
}

.form button {
    margin: 5px 0;
    width: 100%;
}

.form input {
    margin: 10px 0 25px;
    background: #212529 !important;
    color: white;
    border-radius: 5px;
    border: 2px solid #212529;
    width: 100%;
}

.form button {
    margin: 5px 0;
    width: 100%;
}

.form select {
    background: #212529 !important;
    color: white;
    border-radius: 5px;
    border: 2px solid #212529;
    width: 100%;
}

.form input[type="checkbox"] {
    width: auto;
}

.form-separator {
    height: 90%;
    width: 50px;
    background: white !important;
}

.hide-form-container {
    max-height: 0 !important;
    padding: 0;
    border: none;
}
