body {
    font-family: 'Enter Sansman', sans-serif;
}

main {
    height: 500vh;
    margin: 0 200px;
}

h1 {
    margin: 50px;
    text-transform: uppercase;
}

div {
    position: relative;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.reg-error {
    color: red;
}

.header {
    padding: 5px;
}
