nav {
    height: 70px;
    font-weight: bold;
    box-shadow: black 3px 3px 20px;
    text-transform: uppercase;
    background: #181b1e !important;
}

nav ul {
    margin: 0 200px;
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
}

nav li {
    float: left;
    padding: 5px 10px;
}

nav a {
    padding: 5px;
    color: gray;
    text-decoration: none;
}

nav a:hover {
    color: lightgray;
}

nav span {
    color: lightgray;
    text-transform: none;
}

nav small {
    text-transform: capitalize;
}

#nav-headline {
    color: white;
    font-size: 1.2em;
}

#nav-logout {
    float: right;
}

.nav-text {
    text-transform: capitalize;
    color: gray;
}

em {
    text-transform: none;
}

/*@media screen and (max-width: 992px) {*/
/*    nav {*/
/*        padding: 20px;*/
/*        height: 140px;*/
/*        font-size: 1.8em;*/
/*        text-align: center;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/

/*    nav li {*/
/*        display: block;*/
/*        width: 100%;*/
/*    }*/
/*}*/