nav {
    padding: 200px;
    height: 70px;
    font-weight: bold;
    box-shadow: black 3px 3px 20px;
    text-transform: uppercase;
    background: #181b1e !important;
}

nav li {
    display: inline;
}

.nav-link {
    color: gray;
}

.nav-link:hover {
    color: lightgray;
}

.navbar-text {
    text-transform: capitalize;
}

em {
    text-transform: none;
}