nav {
    padding: 200px;
    height: 70px;
    font-weight: bold;
    box-shadow: black 3px 3px 20px;
    text-transform: uppercase;
    background: #181b1e !important;
}

nav li {
    display: inline;
}

.nav-link {
    color: gray;
}

.nav-link:hover {
    color: lightgray;
}

.navbar-text {
    text-transform: capitalize;
}

em {
    text-transform: none;
}

@media screen and (max-width: 992px) {
    nav {
        padding: 20px;
        height: 140px;
        font-size: 1.8em;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    nav li {
        display: block;
        width: 100%;
    }
}