#profile-picture {
    padding: 50px;
    height: auto;
    width: 40%;
    color: white;
    text-align: center;
}

#slideshow-profile-picture {
    width: 100%;
}

#profile-container {
    color: white;
}

#save-picture {
    margin: 0 5%;
}
