.slideshow {
    width: 40%;
    height: auto;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideshow div {
    position: relative;
    width: 90%;
    height: auto;
    border-radius: 15px;
    box-shadow: black 5px 5px 20px -4px;
    margin: 25px;
}

.slideshow img {
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 300px;
}

.slideshow img, .slideshow img:hover {
    filter: none;
}

.slideshow-btn {
    font-size: 40px;
    position: absolute;
    top: 45%;
    transition: 0.2s ease;
}

.slideshow-btn:hover {
    transition: 0.2s ease;
    color: gray !important;
}

.slideshow-prev {
    left: -40px;
}

.slideshow-next {
    right: -40px;
}

#slideshow-profile {
    height: 400px;
}

@media screen and (max-width: 992px) {
    .slideshow {
        width: 90%;
    }
    #slideshow-profile {
        height: 700px;
    }
    .slideshow-btn {
        font-size: 70px;
        top: 40%;
    }
    .slideshow-prev {
        left: -70px;
    }
    .slideshow-next {
        right: -70px;
    }
}

@media only screen and (max-width: 576px) {
    .slideshow {
        width: 110%;
        margin-bottom: -6em !important;
    }
    .slideshow-btn {
        font-size: 50px;
        top: 40%;
    }
    .slideshow-prev {
        left: -50px;
    }
    .slideshow-next {
        right: -50px;
    }
    div.slideshow h2 {
        margin-top: -7.5em !important;
    }
}
