{% extends 'layout/layout.html' %}

{% block title %}Main Page{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}
    <h1 class="text-center text-light">Terraforming Mars</h1>
    <div class="cards leagues bg-dark">
        <div class="card league bg-dark">
            <a href="{{ url_for('dashboard') }}">
                <div class="card-image">
                    <img alt="mars" src="{{ url_for('static', filename='img/mars-1.webp') }}">
                    <h3 class="text-light">Dashboard</h3>
                </div>
            </a>
            <div class="card-details">
                <i class="fa-solid fa-table-columns text-light"></i>
            </div>
        </div>

        <div class="card league bg-dark">
            <a href="{{ url_for('my_leagues') }}">
                <div class="card-image">
                    <img alt="mars" src="{{ url_for('static', filename='img/mars-2.webp') }}">
                    <h3 class="text-light">My Leagues</h3>
                </div>
            </a>
            <div class="card-details">
                <i class="fa-solid fa-gamepad text-light"></i>
            </div>
        </div>

        <div class="card league bg-dark">
            <a href="{{ url_for('profile') }}">
                <div class="card-image">
                    <img alt="mars" src="{{ url_for('static', filename='img/mars-3.webp') }}">
                    <h3 class="text-light">Profile</h3>
                </div>
            </a>
            <div class="card-details">
                <i class="fa-solid fa-id-card text-light"></i>
            </div>
        </div>

        <div class="card league bg-dark">
            <a href="{{ url_for('design') }}">
                <div class="card-image">
                    <img alt="mars" src="{{ url_for('static', filename='img/mars-4.webp') }}">
                    <h3 class="text-light">Design</h3>
                </div>
            </a>
            <div class="card-details">
                <i class="fa-solid fa-paintbrush text-light"></i>
            </div>
        </div>
    </div>
{% endblock %}