{% extends 'layout/layout.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <main>
        <h1 class="text-center text-light">Terraforming Mars</h1>
        <div class="cards leagues bg-dark">
            <div class="card league bg-dark">
                <a href="{{ url_for('dashboard') }}">
                    <img alt="mars" src="{{ url_for('static', filename='img/mars-1.webp') }}">
                    <h3 class="text-light">Dashboard</h3>
                </a>
                <div class="card-details">
                    <i class="fa-solid fa-table-columns text-light"></i>
                </div>
            </div>

            <div class="card league bg-dark">
                <a href="{{ url_for('leagues') }}">
                    <img alt="mars" src="{{ url_for('static', filename='img/mars-2.webp') }}">
                    <h3 class="text-light">My Leagues</h3>
                </a>
                <div class="card-details">
                    <i class="fa-solid fa-gamepad text-light"></i>
                </div>
            </div>

            <div class="card league bg-dark">
                <a href="{{ url_for('profile') }}">
                    <img alt="mars" src="{{ url_for('static', filename='img/mars-3.webp') }}">
                    <h3 class="text-light">Profile</h3>
                </a>
                <div class="card-details">
                    <i class="fa-solid fa-id-card text-light"></i>
                </div>
            </div>

            <div class="card league bg-dark">
                <a href="{{ url_for('design') }}">
                    <img alt="mars" src="{{ url_for('static', filename='img/mars-4.webp') }}">
                    <h3 class="text-light">Design</h3>
                </a>
                <div class="card-details">
                    <i class="fa-solid fa-paintbrush text-light"></i>
                </div>
            </div>
        </div>
    </main>
{% endblock %}