{% extends 'layout/layout.html' %}

{% block title %}{{ rounds[0].league_name }}{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
    <h1 class="text-center text-light">{{ rounds[0].league_name }}</h1>
    <div class="cards rounds">
    {% for round in rounds %}
        {% set finished = round.finished %}
        {% set in_progress = loop.index0 < 1 or rounds[loop.index0 - 1].finished %}
        {% set locked = not finished and not in_progress %}
        {% set link = round.league_id ~ '/' ~ 'round/' ~ round.id %}

        {% if finished or in_progress %}

            <div class="card round bg-dark" id="round-{{ round.id }}">
            <a href="{{ link }}">
                <div class="card-image">
                    <img alt="mars" src="{{ url_for('static', filename=round.image_source) }}">
                    <h3 class="text-light">{{ 'Round ' + round.sequence | string }}</h3>
                </div>
            </a>
        {% else %}
            <div class="card round bg-dark locked" id="round-{{ round.id }}">
            <div class="card-image">
                <img alt="mars" src="{{ url_for('static', filename=round.image_source) }}">
                <i class="fa-solid fa-lock lock-indicator text-light"></i>
                <h3 class="text-light">{{ 'Round ' + round.sequence | string }}</h3>
            </div>
        {% endif %}

    <div class="card-details">
        {% if finished %}
            <small class="text-light"></small>
            <i class="fa-solid fa-circle-check text-light"></i>
        {% elif in_progress %}
            <i class="fa-solid fa-rocket text-light"></i>
        {% else %}
            <i class="fa-solid fa-lock text-light"></i>
        {% endif %}
    </div>

    </div>
    {% endfor %}
</div>
{% endblock %}

