{% extends 'layout/layout.html' %}

{% block title %}League {{ league_id }}{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
    <h1 class="text-center text-light">League {{ league_id }}</h1>
    <div class="cards rounds">
        {% for round in rounds %}
            <div class="card round bg-dark" id="round-{{ round.id }}">
                <img alt="mars" src="{{ url_for('static', filename='img/mars-1.webp') }}">
                <h3 class="text-light">{{ 'Round ' + round.id | string }}</h3>
                <div class="card-details">
                    <i class="fa-solid fa-circle-check text-light"></i>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}