{% extends 'layout/layout.html' %}

{% block title %}My Leagues{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/addLeague.js') }}" defer></script>
{% endblock %}

{% block nav_games %}active{% endblock %}

{% block content %}
    <h1 class="text-center text-light">My Leagues</h1>
    <div class="header">
        <button id="new-league" class="btn btn-light">
            Add new league
        </button>
    </div>
    <div id="add-league" class="card league bg-dark new-league">
        <label class="text-light" for="league-name">League Name</label>
        <input type="text" name="league-name" placeholder="League Name">
        <label class="text-light" for="league-rounds">Number of Rounds(Limit 10)</label>
        <input type="number" name="league-rounds" min="1" max="10" placeholder="Number of Rounds(max 10)">
        <label id="label-league-players" class="text-light" for="league-players">League Players 1/5</label>
        <div id="selected-players" class="player-container">
            {% set user_id = logged_in_user['id'] %}
            {% set username = logged_in_user['username'] %}
            {% set name = logged_in_user['name'] %}
            {% set img_source = logged_in_user['image_source'] %}
            <div class="player-card" player-id="{{ user_id }}">
                <p>{{ username }}({{ name }})</p>
                <img alt="user-image" src="{{ url_for('static', filename=img_source) }}">
            </div>
        </div>
        <input type="text" name="league-players" placeholder="League Players">
        <div id="searched-players"></div>
        <div id="new-league-pictures"></div>
        <button id="button-confirm" class="btn btn-light" type="button">Confirm</button>
        <button id="button-close" class="btn btn-light" type="button">Close</button>

    </div>
    <div class="leagues">

    </div>

{% endblock %}