{% extends 'layout/layout.html' %}

{% block title %}My Leagues{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/addLeague.js') }}" defer></script>
{% endblock %}

{% block nav_games %}active{% endblock %}

{% block content %}
    <h1 class="text-center text-light">My Leagues</h1>
    <div class="header">
        <button id="new-league" class="btn btn-light">
            Add new league
        </button>
    </div>
    <div id="add-league" class="card league bg-dark">
        <label for="league-name">League Name</label>
        <input type="text" name="league-name" placeholder="League Name">
        <label for="league-rounds">Number of Rounds</label>
        <input type="number" name="league-rounds" placeholder="Number of Rounds">
        <label for="league-players">League Players</label>
        <div id="selected-players"></div>
        <input type="text" name="league-players" placeholder="League Players">
        <div id="searched-players"></div>
        <div id="new-league-pictures"></div>
        <button id="button-confirm" class="btn btn-light" type="button">Confirm</button>
        <button id="button-close" class="btn btn-light" type="button">Close</button>

    </div>
    <div class="leagues">

    </div>

{% endblock %}