{% extends 'layout/layout.html' %}

{% block title %}Profile{% endblock %}

{% block nav_profile %}active{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Test registration</title>
    <script src="{{ url_for('static', filename='js/registrationPicturePicker.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/userDataValidation.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/registration.css' ) }}">
</head>
<body>

<form method="post" action="/registration-onsubmit">
    <label id="firstname-label">First Name</label><br>
    <input id="firstname-input" type="text" name="first_name" minlength="2" maxlength="8"><br><br>
    <label id="lastname-label">lastname</label><br>
    <input id="lastname-input" type="text" name="last_name" minlength="2" maxlength="8"><br><br>
    <label id="username-label">nickname</label><br>
    <input id="username-input" type="text" name="nickname"minlength="2" maxlength="10"><br><br>
    <label id="email-label">email</label><br>
    <input id="email-input" type="email" name="email"><br><br>
    <label id="email2-label">email2</label><br>
    <input id="email2-input" type="email" name="email2"><br><br>
    <label id="password-label">password</label><br>
    <input id="password-input" type="password" name="password"><br><br>
    <label id="password2-label">password2</label><br>
    <input id="password2-input" type="password" name="password2"><br><br>
    <input id="picture-input" type="hidden" name="pp_id">
    <input id="hidden-button" type="submit" value="submit" hidden>
</form>

<div id="profile-picture-container">
    {% for picture in pictures %}
        <img class="profile-picture" id="{{ picture['id'] }}" src="{{ url_for('static', filename=picture['source']) }}">
    {% endfor %}

</div>

    <h1>{{ error }}</h1>
{% endblock %}