{% extends 'layout/layout.html' %}

{% block title %}Profile{% endblock %}

{% block nav_profile %}active{% endblock %}

{% block content %}
    <h1 class="text-center text-light">Profile</h1>
    <p class="text-light breadcrumb">
        <a href="{{ url_for('dashboard') }}">Home</a> <small> > </small>
        <small>Profile</small>
    </p>
    <div id="data-container">
        <img src={{ url_for('static', filename=data.source) }}>
        <p id="username-text" class="text-light">{{ data.username }}</p>
        <p id="firstname-lastname" class="text-light">{{ data.first_name + ' ' + data.last_name}}</p>
        <p id="user-email" class="text-light">{{ data.email }}</p>
    </div>

{% endblock %}
