{% extends 'layout/layout.html' %}

{% block title %}Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/registration.css' ) }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/registrationPicturePicker.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/registrationSlideshow.js') }}" type="module" defer></script>
    <script src="{{ url_for('static', filename='js/userDataValidation.js') }}" type="module" defer></script>
{% endblock %}

{% block content %}
    <h1 class="text-center text-light">Sign Up</h1>
    <div class="form-container card">
        <form method="post" action="/registration-onsubmit" class="registration-form text-light form">
            <h2 class="text-light">Register new Account</h2>
            <label for="firstname-input">First Name</label><br>
            <input id="firstname-input" type="text" name="first_name" minlength="2" maxlength="20" placeholder="First name"><br><br>
            <label for="lastname-input">Last Name</label><br>
            <input id="lastname-input" type="text" name="last_name" minlength="2" maxlength="20" placeholder="Last name"><br><br>
            <label for="username-input">Username</label><br>
            <input id="username-input" type="text" name="nickname" minlength="2" maxlength="16" placeholder="Username"><br><br>
            <label for="email-input">Email</label><br>
            <input id="email-input" type="email" name="email" placeholder="Email address"><br><br>
            <label for="email2-input">Confirm Email</label><br>
            <input id="email2-input" type="email" name="email2" placeholder="Confirm email address"><br><br>
            <label for="password-input">Password</label><br>
            <input id="password-input" type="password" name="password" placeholder="Password"><br><br>
            <label for="password2-input">Confirm password</label><br>
            <input id="password2-input" type="password" name="password2" placeholder="Confirm password"><br><br>
            <input id="picture-input" type="hidden" name="pp_id">
            <button type="submit" class="btn btn-light" id="submit-btn" disabled>Register</button>
        </form>
        <div class="form-separator"></div>
        <div class="slideshow">
            <h2 class="text-light">Choose image</h2>
            <div class="text-light">
                <img alt="slideshow image" src="/static/img/player_icons/player-card-1.webp" id="slideshow-profile"
                     data-image-id="7">
                <i class="fa-solid fa-angle-left text-light slideshow-btn slideshow-prev"></i>
                <i class="fa-solid fa-angle-right text-light slideshow-btn slideshow-next"></i>
            </div>
        </div>
    </div>
{% endblock %}