<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test registration</title>
</head>
<body>

<form method="post" action="/registration-onsubmit">
    <label id="firstname-label">First Name</label><br>
    <input id="firstname-input" type="text" name="first_name" minlength="2" maxlength="8"><br><br>
    <label id="lastname-label">lastname</label><br>
    <input id="lastname-input" type="text" name="last_name" minlength="2" maxlength="8"><br><br>
    <label id="nickname-label">nickname</label><br>
    <input id="nickname-label" type="text" name="nickname"minlength="2" maxlength="10"><br><br>
    <label id="email-label">email</label><br>
    <input id="email-input" type="email" name="email"><br><br>
    <label id="email2-label">email2</label><br>
    <input id="email2-input" type="email" name="email2"><br><br>
    <label id="password-label">password</label><br>
    <input id="password-input" type="password" name="password"><br><br>
    <label id="password2-label">password2</label><br>
    <input id="password2-input" type="password" name="password2"><br><br>
    <label >pp id</label><br>
    <input type="text" name="pp_id"><br><br>
    <input type="submit" value="submit">
</form>

    <h1>{{ error }}</h1>

</body>
</html>