{% extends 'layout/layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1 class="text-center text-light">Sign In</h1>

    <div class="form-container card">
        <form method="post" action="/login-onsubmit" class="form text-light">
            <h2 class="text-light">Log in</h2>
            <label for="login-token-input">Username</label><br>
            <input id="login-token-input" type="text" name="login_token" placeholder="Username"><br><br>
            <label for="password-input">Password</label><br>
            <input id="password-input" type="password" name="password" placeholder="Password"><br><br>
            <button type="submit" class="btn btn-light">Login</button>
        </form>
    </div>

    {% if error %}
        <h1>Invalid username / email or password</h1>
    {% endif %}

{% endblock %}
