<div class="round-status" data-id="{{ round_id }}" data-status="{{ round_status }}">
    <p class="text-light text-center">Status: <small class="status-init-game">Not yet started</small></p>
</div>
<div class="round-details round-init-game">
    <button class="btn btn-light show-round-form-button">Initialize round</button>
</div>
<div class="form-container card text-light round-form hide-form-container">
    <form method="post" onsubmit="return confirm('Are you sure you want to submit?');" class="form">
        <h2>Round settings</h2>
        <label for="round-board">Choose a board</label><br>
        <select id="round-board" name="board"><br><br>
            {% for board in game.boards %}
                <option name="board-{{ board.id }}" value="{{ board.id }}">{{ board.board_name }}</option>
            {% endfor %}
        </select><br>
        <div id="expansions">
            <br>
            <label for="round-expansion">Choose expansions</label><br>
            {% for expansion in game.expansions %}
                <input class="round-expansion" type="checkbox" id="expansion{{ expansion.id }}" name="expansion-{{ expansion.expansion_name }}"
                       value="{{ expansion.id }}">
                <label for="expansion{{ expansion.id }}">{{ expansion.expansion_name }}</label><br>
            {% endfor %}
        </div>
        <br>
        <label for="round-corporations">Choose a corporation for each player</label><br><br>
        {% for player in players %}
            <label for="player{{ player.id }}">{{ player.username }}</label>
            <select class="corporations" id="player{{ player.id }}" name="player-{{ player.id }}" required>
                <option value="">--Please select a Corporation--</option>
                {% for corporation in game.corporations %}
                    <option
                            class="corporation"
                            data-expansion-id="{{ corporation.expansion_id }}"
                            data-player-id="{{ player.id }}"
                            value="{{ corporation.corporation_id }}"
                            {% if corporation.expansion_id != None %} hidden {% endif %}
                    >{{ corporation.corporation_name }}</option>
                {% endfor %}
            </select><br><br>
        {% endfor %}
        <button class="btn btn-light save-round-form-button" type="submit">Save</button>
        <button class="btn btn-dark close-round-form-button" type="button">Close</button>
    </form>
</div>