{% extends 'layout/layout.html' %}


{% block title %}{{ round.league_name }} Round {{ round.sequence }}{% endblock %}

{% block script_results %}
    {% if round_status == 'init_round' %}
        <script src="{{ url_for('static', filename='js/roundInitGame.js') }}" defer></script>
    {% elif round_status == 'started' %}
        <script type="module" src="{{ url_for('static', filename='js/roundStarted.js') }}" defer></script>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="text-light text-center">{{ round.league_name }} Round {{ round.sequence }}</h1>
    <p class="text-light breadcrumb">
        <a href="{{ url_for('index') }}">Home</a> <small> > </small>
        <a href="{{ url_for('leagues') }}">My leagues</a> <small> > </small>
        <a href="{{ '/league/'~ round_id }}">{{ round.league_name }}</a> <small> > </small>
        <small>Round {{ round.sequence }}</small>
    </p>

    {% if round_status == 'init_round' %}
        {% include 'round_phase_init_game.html' %}
    {% elif round_status == 'started' %}
        {% include 'round_phase_started.html' %}
    {% else %}
        {% include 'round_phase_finished.html' %}
    {% endif %}

{% endblock %}
